<template name="visualPostEdit">

    {{#if isFileUploading}}
        <h2>Uploading...</h2>
    {{/if}}
    {{#each images}}
        <a class="delete-image">
            <i class="fa fa-trash fa-2x"></i>
        </a>
        <img src="{{url}}" alt="Image thumbnail" class="thumbnail" />
    {{/each}}

    <div class="form-group {{errorClass 'isFilePresent'}}">
        <div class="controls">
            <span class="btn btn-default btn-file">
            <i class="glyphicon glyphicon-upload "></i> Upload an image<input type="file" class="add_image">
            </span>
            <span class="help-block">{{errorMessage 'isFilePresent'}}</span>
        </div>
    </div>

    <form class="main form page">
        <div class="form-group {{errorClass 'title'}}">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="description">Description (optional)</label>
            <div class="controls">
                <textarea name="description" id="description" rows="5" type="text" value="{{description}}" placeholder="Your description" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group {{errorClass 'category'}}">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
                <select name="category" id="category" class="form-control">
                    <option value="abstract">Abstract</option>
                    <option value="animals">Animals</option>
                    <option value="cartoons&comics">Cartoons & Comics</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="game-art">Game Art</option>
                    <option value="illustration">Illustration</option>
                    <option value="landscapes&scenery">Landscapes & Scenery</option>
                    <option value="macabre&horror">Macabre & Horror</option>
                    <option value="manga&anime">Manga & Anime</option>
                    <option value="other">Other</option>
                    <option value="people">People</option>
                    <option value="political">Political</option>
                    <option value="popart">Pop Art</option>
                    <option value="portraits&figures">Portraits & Figures</option>
                    <option value="psychedelic">Psychedelic</option>
                    <option value="sci-fi">Sci-Fi</option>
                    <option value="space-art">Space Art</option>
                    <option value="still-life">Still Life</option>
                    <option value="surreal">Surreal</option>
                    <option value="technical-drawings">Technical Drawings</option>
                </select>
                <span class="help-block">{{errorMessage 'category'}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="tags">Tags (optional)</label>
            <div class="controls">
                <select name="tags" id="tags" class="form-control block" multiple="multiple">
                    {{#each tags}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn-lg btn-primary"/>
        <a class="btn btn-danger delete" href="#">Delete post</a>
    </form>
</template>


