<template name="searchPosts">
   <h3>Enter search term here: {{> esInput id="search-header" index="posts" placeholder=""}}</h3>

    <div class="posts voffset2">
        <div class="container-fluid">
            <div class="row">
                {{#esEach index="posts"}}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        {{> postItem}}
                    </div>
                {{/esEach}}
            </div>
        </div>
    </div>

    <div class="text-center">
    {{> esLoadMoreButton id="search-header" index="posts" class="btn btn-primary"}}
    </div>

    {{#ifEsHasNoResults id="search-header" index="posts"}}
        <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}

    {{#ifEsIsSearching id="search-header" index="posts"}}

        <div class="container-fluid voffset10">
            <div>{{>spinner}}</div>
        </div>

    {{/ifEsIsSearching}}
</template>