<!--The main header/navigation template which is present in any part of the application-->

<!--First part of the header-->
<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">ArtMatches</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav" id="main-navigation">
                <li><a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a></li>
                {{#if currentUser}}
                    <li role="presentation" class="dropdown">
                        <a id="submit-post" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-upload"></i> Submit Post<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor 'visualPostSubmit'}}"><i class="fa fa-picture-o"></i> Visual</a></li>
                            <li><a href="{{pathFor 'audioPostSubmit'}}"><i class="fa fa-headphones"></i> Audio</a></li>
                            <li><a href="{{pathFor 'writtenPostSubmit'}}"><i class="fa fa-pencil"></i> Written</a></li>
                        </ul>
                    </li>
                {{/if}}
                <li><a href="{{pathFor 'searchPosts'}}"><i class="fa fa-search"></i> Search Posts</a></li>
                <li><a href="{{pathFor 'artmatchesList'}}"><i class="glyphicon glyphicon-text-background"></i> Browse ArtMatches</a></li>
                {{#if currentUser}}
                    <li><a href="{{pathFor "chat"}}"><i class="fa fa-comments"></i> Chat</a></li>
                {{/if}}
            </ul>


            <!--Second part of the header which includes the sign in and the notifications dropdown-->
            <ul class="nav navbar-nav navbar-right" id="navigation">
                {{#if currentUser}}
                    <li class="dropdown">
                        {{> notifications}}
                    </li>
                {{/if}}

                <li class="center-vertical-block">
                    {{#if currentUser}}
                        <a class="no-padding no-image-link-color no-background" href="{{pathFor 'userInfo' username=currentUserName}}">
                            {{#if hasThumbnail}}
                                {{#with thumbnail}}
                                    <img src="{{url store="smallThumbs"}}" class="img-circle" alt="Profile_Picture">
                                {{/with}}
                            {{else}}
                                <img src="https://s3-eu-west-1.amazonaws.com/artmatches/Static/user-30gray.ico" class="img-circle" alt="Profile_Picture">
                            {{/if}}
                        </a>
                    {{/if}}
                </li>
                {{> loginButtons}}
            </ul>
        </div>
    </nav>
</template>