<template name="header">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">ArtMatches</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav" id="main-navigation">
                {{#if currentUser}}
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            My Profile <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor 'userInfo' username=currentUserName}}">Info</a></li>
                            <li><a href="{{pathFor 'userPosts' username=currentUserName}}">Posts</a></li>
                        </ul>
                    </li>
                    <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li>
                    <li><a href="#">Messages</a></li>
                {{/if}}
                <li><a href="">About</a></li>
                <li><a href="{{pathFor 'searchPosts'}}">Search Posts</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" id="navigation">
                <li><a href="{{pathFor 'home'}}">Home</a></li>
                {{#if currentUser}}
                    <li class="dropdown">
                        {{> notifications}}
                    </li>
                {{/if}}
                {{> loginButtons}}
            </ul>
        </div>
    </nav>
</template>