<!--<template name="unverifiedEmailModal">-->
    <!--<div class="modal fade " id="unverified-email" tabindex="-1" role="dialog" aria-labelledby="unverified-email" aria-hidden="true">-->
        <!--<div class="modal-dialog modal-lg">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                    <!--<h4 class="modal-title" id="myModalLabel">Warning: Unverified Email</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<h1>-->
                        <!--You haven't verified your email and won't be able to post, comment or submit matches until you do so.-->
                        <!--Please check your email and click on the verify link-->
                    <!--</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->