<template name="artmatchPage">
    {{>submissionContent}}
    <div class="container">
        <div class="row">
            <h1 class="loffset15px">{{title}}
                <a href="/posts/{{originalPostId}}"><button type="button" class="btn btn-primary">See Original</button></a>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Original</h3>
                    </div>
                    <div class="panel-body">
                        {{#each images}}
                            <div class="col-md-12">
                                <img src="{{url}}" alt="Post Image" class="img-responsive voffset2 center-block" />
                            </div>
                        {{/each}}

                        {{#if isAudio}}
                            {{#if embed}}
                                <div class="iframe-custom-size">
                                    {{{content}}}
                                </div>
                            {{else}}
                                {{#with audio}}
                                    <audio controls>
                                        <source src="{{url}}"  type="audio/ogg">
                                        <source src="{{url}}"  type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                {{/with}}
                            {{/if}}
                        {{/if}}

                        {{#if isWritten}}
                            {{{content}}}
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best Visual Match</h3>
                    </div>
                    <div class="panel-body">
                        {{#with bestVisual}}
                            {{#each images}}
                                <div class="col-md-12">
                                    <img src="{{url}}" alt="Post Image" class="img-responsive voffset2 center-block" />
                                </div>
                            {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best Audio Match</h3>
                    </div>
                    <div class="panel-body">}
                        {{#with bestAudio}}
                            {{#if isAudio}}
                                {{#if embed}}
                                    <div class="iframe-custom-size">
                                        {{{content}}}
                                    </div>
                                {{else}}
                                    {{#with audio}}
                                        <audio controls>
                                            <source src="{{url}}"  type="audio/ogg">
                                            <source src="{{url}}"  type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    {{/with}}
                                {{/if}}
                            {{/if}}
                        {{/with}}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best Written Match</h3>
                    </div>
                    <div class="panel-body">
                        {{#with bestWritten}}
                            {{#if isWritten}}
                                {{{content}}}
                            {{/if}}
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>

        <!--//Modify for best submissions with the proper subscription-->
            <!--{{#each submissions}}-->
            <!--{{#if isVisual}}-->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <!--<h3>Best Visual Match: {{title}}</h3>-->
            <!--<h5>by user: {{author}}</h5>-->
            <!--<h5>votes: {{votes}}</h5>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--{{#with visual content}}-->
                <!--<div class="col-md-12">-->
                <!--<img src="{{url}}" alt="Post Image" class="img-responsive voffset2 center-block"/>-->
                <!--</div>-->
                    <!--{{/with}}-->
            <!--</div>-->
            <!--</div>-->
                <!--{{/if}}-->
            <!--{{/each}}-->
            <!--{{#each submissions}}-->
            <!--{{#if isAudio}}-->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <!--<h3>Best Audio Match: {{title}}</h3>-->
            <!--<h5>by user: {{author}}</h5>-->
            <!--<h5>votes: {{votes}}</h5>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--{{#if embed}}-->
                <!--<div class="iframe-custom-size">-->
                <!--{{{content}}}-->
                <!--</div>-->
                    <!--{{else}}-->
                    <!--{{#with audio}}-->
                    <!--<audio controls>-->
                    <!--<source src="{{url}}"  type="audio/ogg">-->
                    <!--<source src="{{url}}"  type="audio/mpeg">-->
                    <!--Your browser does not support the audio element.-->
                    <!--</audio>-->
                        <!--{{/with}}-->
                    <!--{{/if}}-->
            <!--</div>-->
            <!--</div>-->
                <!--{{/if}}-->
            <!--{{/each}}-->
            <!--{{#each submissions}}-->
            <!--{{#if isWritten}}-->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <!--<h3>Best Written Match: {{title}}</h3>-->
            <!--<h5>by user: {{author}}</h5>-->
            <!--<h5>votes: {{votes}}</h5>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
            <!--{{{content}}}-->
            <!--</div>-->
            <!--</div>-->
                <!--{{/if}}-->
            <!--{{/each}}-->

        <h3>All match submissions: </h3>

        <ul id="submission-type-tabs" class="nav nav-tabs nav-justified">
            <li role="presentation" class=""><a data-toggle="tab" href="#submission-visual-tab"><i class="fa fa-picture-o"></i> Visual</a></li>
            <li role="presentation"><a data-toggle="tab" href="#submission-audio-tab"><i class="fa fa-headphones"></i> Audio</a></li>
            <li role="presentation"><a data-toggle="tab" href="#submission-written-tab"><i class="fa fa-pencil"></i> Written</a></li>
        </ul>

        <div class="tab-content">
            <div id="submission-visual-tab" class="tab-pane fade in">
                <div class="container-fluid voffset4">
                    {{#each submissions}}
                        {{#if isVisual}}
                            {{>submissionItem}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>

            <div id="submission-audio-tab" class="tab-pane fade in">
                <div class="container-fluid voffset4">
                    {{#each submissions}}
                        {{#if isAudio}}
                            {{>submissionItem}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>

            <div id="submission-written-tab" class="tab-pane fade in">
                <div class="container-fluid voffset4">
                    {{#each submissions}}
                        {{#if isWritten}}
                            {{>submissionItem}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>