<template name="postItem">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h6 class="title-postItem">
                {{#if isVisual}}
                    <i class="fa fa-picture-o"></i>
                {{/if}}
                {{#if isAudio}}
                    <i class="fa fa-headphones"></i>
                {{/if}}
                {{#if isWritten}}
                    <i class="fa fa-pencil"></i>
                {{/if}}
                <a class="no-link-color" href="{{pathFor 'postPage'}}">
                    <b>{{truncatedTitle}}</b>
                </a>
            </h6>
        </div>

        <div class="panel-body">

            {{#if isVisual}}
                {{#each images}}
                    <a href="{{#with ..}}{{pathFor 'postPage'}}{{/with}}">
                        <img src="{{url store="thumbs"}}" alt="Post Thumbnail"  class="img-responsive thumbnail center-block" />
                    </a>
                {{/each}}
            {{/if}}

            {{#if isAudio}}
                {{#if hasThumbnail}}
                    {{#with thumbnail}}
                        <a href="{{#with ..}}{{pathFor 'postPage'}}{{/with}}">
                            <img src="{{url store="bigThumbs"}}" alt="Post Thumbnail"  class="img-responsive thumbnail center-block" />
                        </a>
                    {{/with}}
                {{else}}
                    <a href="{{pathFor 'postPage'}}">
                        <img src="https://s3-eu-west-1.amazonaws.com/artmatches/Static/note-200gray.ico" alt="Post Thumbnail" class="img-responsive thumbnail center-block"/>
                    </a>
                {{/if}}
            {{/if}}

            {{#if isWritten}}
                {{#if hasThumbnail}}
                    {{#with thumbnail}}
                        <a href="{{#with ..}}{{pathFor 'postPage'}}{{/with}}">
                            <img src="{{url store="bigThumbs"}}" alt="Post Thumbnail"  class="img-responsive thumbnail center-block" />
                        </a>
                    {{/with}}
                {{else}}
                    <a href="{{pathFor 'postPage'}}">
                        <img src="https://s3-eu-west-1.amazonaws.com/artmatches/Static/literature-200gray.ico" alt="Post Thumbnail" class="img-responsive thumbnail center-block"/>
                    </a>
                {{/if}}
            {{/if}}

            <h6>
                <i class="fa fa-user"></i>
               <a class="no-link-color bold-text" href="{{pathFor 'userInfo' username=author}}">
                {{author}}
                </a>
                <span class=" pull-right">
                    <i class="fa fa-comment-o bold-text"> {{commentsCount}}</i>
                    <i class="fa fa-thumbs-o-up bold-text"> {{likes}}</i>
                </span>
            </h6>
        </div>
    </div>
</template>
