<template name="postSubmit">
    <div class="row col-lg-12">
    <div class="btn-group">
        <a href="{{pathFor 'visualPostSubmit'}}"><button type="button" class="btn btn-info btn-lg"><i class="fa fa-picture-o"></i> Visual</button></a>
        <a href="{{pathFor 'audioPostSubmit'}}"><button type="button" class="btn btn-info btn-lg"><i class="fa fa-headphones"></i> Audio</button></a>
        <a href="{{pathFor 'writtenPostSubmit'}}"> <button type="button" class="btn btn-info btn-lg"><i class="fa fa-pencil"></i> Written</button></a>
    </div>
    </div>
</template>




