<template name="postPage">
    {{>submitArtMatch}}
    <div class="post-page page">
        <div class="panel panel-default zero-margin-bottom">
            <div class="panel-body">
                <div class="row">
                    <h1 class="loffset15px">{{title}}
                        {{#if ownPost}}
                            {{#if isVisual}}
                                <a href="{{pathFor 'visualPostEdit'}}"><button type="button" class="btn btn-warning">Edit Post</button></a>
                            {{/if}}
                            {{#if isAudio}}
                                <a href="{{pathFor 'audioPostEdit'}}"><button type="button" class="btn btn-warning">Edit Post</button></a>
                            {{/if}}
                            {{#if isWritten}}
                                <a href="{{pathFor 'writtenPostEdit'}}"><button type="button" class="btn btn-warning">Edit Post</button></a>
                            {{/if}}
                        {{/if}}
                    </h1>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-body">

                        <!--TODO consider using a carousel to display multiple images-->
                        {{#if isVisual}}
                            {{#each images}}
                                <div class="col-md-12">
                                    <!--TODO add indivudual link to each image-->
                                    <img src="{{url}}" alt="Post Image" class="img-responsive voffset2 center-block" />
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#if isAudio}}
                            {{#with audio}}
                                <p>{{name}}</p>
                                <audio controls>
                                    <source src="{{url}}"  type="audio/ogg">
                                    <source src="{{url}}"  type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            {{/with}}
                            <div class="iframe-custom-size">
                                {{{soundcloud}}}
                            </div>
                        {{/if}}

                        <p>{{{text}}}</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{description}}</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body">
                        <p>Author: {{author}}</p>
                        <p>Submitted: {{submitted}}</p>
                        <p>Category: {{category}}</p>
                        <p>Tags: {{tags}}</p>
                    </div>
                </div>

                {{#unless ownPost}}
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#submit-artmatch">Submit ArtMatch</button>
                {{/unless}}

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-xs {{likedClass}}"><i class="fa fa-thumbs-o-up"> Like</i></button>
            </div>
        </div>

        <ul class="comments">
            {{#each comments}}
                {{> commentItem}}
            {{/each}}
        </ul>

        {{#if currentUser}}
            {{> commentSubmit}}
        {{else}}
            <p>Please log in to leave a comment.</p>
        {{/if}}
    </div>
</template>
