<template name="postPage">
    {{>submitArtMatch}}
    <div class="container">
        {{#with thumbnail}}
                <img src="{{url store="bigThumbs"}}" alt="Post Thumbnail"  class="img-responsive thumbnail" />
        {{/with}}
        <div class="row">
            <h1 class="loffset15px">{{title}}

                {{#if hasArtMatch}}
                    <a href="/artmatches/{{artMatchId}}"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-text-background"></i> See ArtMatch</button></a>
                {{/if}}
                {{#if ownPost}}
                    {{#if isVisual}}
                        <a href="{{pathFor 'visualPostEdit'}}"><button type="button" class="btn btn-warning">Edit Post</button></a>
                    {{/if}}
                    {{#if isAudio}}
                        <a href="{{pathFor 'audioPostEdit'}}"><button type="button" class="btn btn-warning">Edit Post</button></a>
                    {{/if}}
                    {{#if isWritten}}
                        <a href="{{pathFor 'writtenPostEdit'}}"><button type="button" class="btn btn-warning">Edit Post</button></a>
                    {{/if}}
                {{/if}}
            </h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-body {{#if isVisual}}panel-image{{/if}}">

                <!--TODO consider using a carousel to display multiple images-->
                {{#if isVisual}}
                    {{#each images}}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <!--TODO add indivudual link to each image-->
                            <img src="{{url}}" alt="Post Image" class="img-responsive voffset2 center-block  "/>
                            <a href="{{pathFor 'fullSize'}}" class="no-underline"><button type="button" class="center-block btn btn-info"><i class="glyphicon glyphicon-zoom-in"></i>Full Size</button></a>
                        </div>

                    {{/each}}
                {{/if}}

                {{#if isAudio}}
                    {{#if embed}}
                        <div class="iframe-custom-size">
                            {{{content}}}
                        </div>
                    {{else}}
                        {{#with audio}}
                            <audio controls>
                                <source src="{{url}}"  type="audio/ogg">
                                <source src="{{url}}"  type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        {{/with}}
                    {{/if}}
                {{/if}}

                {{#if isWritten}}
                <div class="written-content-page">{{{text}}}</div>
                {{/if}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold-text">Description</h3>
            </div>
            <div class="panel-body">
                <p>{{description}}</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold-text">Details</h3>
            </div>
            <div class="panel-body">
                <p>Author: <a class="bold-text" href="{{pathFor 'userInfo' username=author}}">{{author}}</a></p>
                <p>Submitted: {{submittedParsed}}</p>
                <p>Category: {{category}}</p>
                <p>Tags: {{tags}}</p>
                Likes: <p class="label label-success bold-text">{{likes}}</p>
            </div>
        </div>

        {{#if currentUser}}
            {{#unless ownPost}}
                <button type="button" class="btn btn-primary btn-lg loffset15px" data-toggle="modal" data-target="#submit-artmatch"><i class="glyphicon glyphicon-text-background"></i> Submit Match</button>
            {{/unless}}
            <div class="panel panel-default voffset3">
                <div class="panel-body">
                    <button type="button" class="btn btn-xs {{likedClass}}"><i class="fa fa-thumbs-o-up"> Like</i></button>
                </div>
            </div>
        {{/if}}
        <ul class="comments">
            {{#each comments}}
                {{> commentItem}}
            {{/each}}
        </ul>
        <label for="body">
            <h5>
                <i class="fa fa-comments-o"></i>
                <b>Comment on this post</b>
            </h5>
        </label>
        {{#if currentUser}}
            {{> commentSubmit}}
        {{else}}
            <p>Please log in to leave a comment.</p>
        {{/if}}

    </div>
</template>
