<template name="postItem">
    <h3>{{title}}</h3>
    <h4>Submitted by: {{author}}</h4>
    <a href="{{pathFor 'postPage'}}"><img src="{{thumbnailUrl}}" class="thumbnail img-responsive" alt="Post image"></a>
    <p>{{description}}</p>
    {{{formattedText}}}
    <div class="summernote"></div>
    <audio controls>
        <source src="{{fileUrl}}" type="audio/ogg">
        <source src="{{fileUrl}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</template>
