<template name="postSubmit">
    <div class="row col-lg-12">
    <div class="btn-group">
        <a href="{{pathFor 'visualPostSubmit'}}"><button type="button" class="btn-info btn-xxlarge"><i class="glyphicon glyphicon-picture"></i> Visual</button></a>
        <a href="{{pathFor 'audioPostSubmit'}}"><button type="button" class="btn-info btn-xxlarge"><i class="glyphicon glyphicon-headphones"></i> Audio</button></a>
        <a href="{{pathFor 'writtenPostSubmit'}}"> <button type="button" class="btn-info btn-xxlarge"><i class="glyphicon glyphicon-pencil"></i> Written</button></a>
    </div>
    </div>
</template>




