<template name="postsList">

    <div class="container-fluid">
        <div class="jumbotron center-horizontal">
            <h1>ArtMatches - Where art hangs likes to hang out!</h1>
            <p>We are a special new community which allows you to interact with other artists in a novel and more collaborative way.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>


    <!--Second navigation bar - Start-->
    <div class="collapse navbar-collapse">
        <div class="navbar-header">
            <form class="navbar-form form-inline col-lg-6">
                <div class="btn-group">
                    <button class="btn btn-default">Button 1</button>
                    <button class="btn btn-default">Button 2</button>
                    <button class="btn btn-default">Button 3</button>
                </div>

                <div class='btn-toolbar pull-right'>
                    <div class="btn-group">
                        <button class="btn btn-default">Button 4</button>
                        <button class="btn btn-default">Button 5</button>
                        <button class="btn btn-default">Button 6</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Second navigation bar - End-->

    <div class="posts">
        <div class="container-fluid">
            <div class="row">
                {{#each posts}}
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        {{> postItem}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary center-block ">Load more...</button>
    </div>
</template>




