<template name="commentSubmit">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="comment" class="form">
                <div class="form-group {{errorClass 'body'}}">
                    <div class="controls">
                        <textarea name="body" id="body" class="form-control" rows="3"></textarea>
                        <span class="help-block">{{errorMessage 'body'}}</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        </div>
    </div>
</template>