<template name="userInfo">
    <div class="container">
        <div class="row">
            {{#if hasThumbnail}}
                {{#with thumbnail}}
                    <img src="{{url store="bigThumbs"}}">
                {{/with}}
            {{else}}
                <img src="https://s3-eu-west-1.amazonaws.com/artmatches/Static/user-200gray.ico" class="img-responsive img-rounded loffset1" alt="Profile_Picture">
            {{/if}}

            <div class="row">
                <h2 class="loffset1">{{username}}
                    {{#if ownInfo}}
                        <a href="{{pathFor 'editUserInfo'}}"><button type="button" class="btn btn-warning">Edit Info</button></a>
                    {{/if}}
                </h2>
            </div>

            <ul class="list-group">
                <li class="list-group-item">Gender: {{gender}}</li>
                <li class="list-group-item">Age: {{age}}</li>
                <li class="list-group-item">Country: {{country}}</li>
                <li class="list-group-item">City: {{city}}</li>
                <li class="list-group-item">Number of posts: {{postsCount}}</li>
                <li class="list-group-item"><a class="bold-text" href="{{pathFor 'userPosts' username=username}}">View all user's posts</a>
                </li>
            </ul>

            <div class="panel panel-default">
            	  <div class="panel-heading">
            			<h3 class="panel-title"><b>Description</b></h3>
            	  </div>
            	  <div class="panel-body">
                      <p>{{description}}</p>
            	  </div>
            </div>
        </div>
    </div>
</template>
