<template name="audioPostEdit">
    <form class="main form page">

        {{#if isFileUploading}}
            <h2>Uploading...</h2>
        {{/if}}
        {{#each audios}}
            <a class="delete-audio">
                <i class="fa fa-trash fa-2x"></i>
            </a>
            <h3>{{name}}</h3>
            <audio controls>
                <source src="{{url}}"  type="audio/ogg">
                <source src="{{url}}"  type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        {{/each}}

        <div class="form-group {{errorClass 'isFilePresent'}}">
            <div class="controls">
            <span class="btn btn-default btn-file">
            <i class="glyphicon glyphicon-upload "></i> Upload an audio<input type="file" class="add_audio">
            </span>
                <span class="help-block">{{errorMessage 'isFilePresent'}}</span>
            </div>
        </div>

        <div class="form-group {{errorClass 'title'}}">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="description">Description (optional)</label>
            <div class="controls">
                <textarea name="description" id="description" rows="5" type="text" value="{{description}}" placeholder="Your description" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group {{errorClass 'category'}}">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
                <select name="category" id="category" class="form-control">
                    <option value="" selected disabled>Please select one</option>
                    <option value="african">African</option>
                    <option value="asian-east">Asian-East</option>
                    <option value="asian-south">Asian-South</option>
                    <option value="avante-garde">Avante-garde</option>
                    <option value="blues">Blues</option>
                    <option value="carribean">Caribbean</option>
                    <option value="comedy">Comedy</option>
                    <option value="country">Country</option>
                    <option value="electronic">Electronic</option>
                    <option value="folk">Folk</option>
                    <option value="hip-hop">Hip hop</option>
                    <option value="jazz">Jazz</option>
                    <option value="latin">Latin</option>
                    <option value="lounge">Lounge</option>
                    <option value="other">Other</option>
                    <option value="pop">Pop</option>
                    <option value="r&b">R&B</option>
                    <option value="r&b">Rock</option>
                    <option value="soul">Soul</option>
                </select>
                <span class="help-block">{{errorMessage 'category'}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="tags">Tags (optional)</label>
            <div class="controls">
                <select name="tags" id="tags" class="form-control block" multiple="multiple">
                    {{#each tags}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>


        <input type="submit" value="Submit" class="btn-lg btn-primary"/>
        <a class="btn btn-danger delete" href="#">Delete post</a>
    </form>
</template>


