<template name="audioPostSubmit">
    <div class="container">

        <form class="main form page">

            {{#if isFileUploading}}
                <img src="https://s3-eu-west-1.amazonaws.com/artmatches/Static/uploading.gif">
                <h5>Uploading...</h5>
            {{/if}}

            {{#with thumbnail}}
                <img src="{{url store="bigThumbs"}}">
                <a class="delete-thumbnail display-block">
                    <i class="fa fa-trash fa-2x"></i>
                </a>
            {{/with}}

            {{#with audio}}

                <h3>{{name}}</h3>
                <audio controls>
                    <source src="{{url}}"  type="audio/ogg">
                    <source src="{{url}}"  type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <a class="delete-audio display-block">
                    <i class="fa fa-trash fa-2x"></i>
                </a>
            {{/with}}


            <span class="btn btn-info btn-file" {{disableUploadButton}} {{disableWhileUploading}}>
            <i class="glyphicon glyphicon-upload "></i> Upload an audio<input type="file" class="add_audio" {{disableUploadButton}} {{disableWhileUploading}}>
            </span>

            <span class="btn btn-default btn-file" {{disableUploadThumbnailButton}} {{disableWhileUploading}}>
            <i class="glyphicon glyphicon-upload "></i> Upload a thumbnail(optional)<input type="file" class="add_thumbnail" {{disableUploadThumbnailButton}} {{disableWhileUploading}}>
            </span>


            <p class="{{errorClass 'isContentPresent'}}">OR <span class="help-block">{{errorMessage 'isContentPresent'}}</span></p>

            <div class="form-group {{errorClass 'isContentPresent'}}">
                <label class="control-label voffset2" for="embed">Embed Soundcloud/Youtube</label>
                <div class="controls">
                    <input name="embed" id="embed" type="text" value="" placeholder="Copy and paste embed code from Soundcloud/Youtube" class="form-control" {{disableEmbedField}} {{disableWhileUploading}}/>
                </div>
            </div>

            <div class="form-group {{errorClass 'title'}}">
                <label class="control-label voffset2" for="title">Title</label>
                <div class="controls">
                    <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
                    <span class="help-block">{{errorMessage 'title'}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="description">Description (optional)</label>
                <div class="controls">
                    <textarea name="description" id="description" rows="5" type="text" value="" placeholder="Your description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group {{errorClass 'category'}}">
                <label class="control-label" for="category">Category</label>
                <div class="controls">
                    <select name="category" id="category" class="form-control">
                        <option value="" selected disabled>Please select one</option>
                        <option value="african">African</option>
                        <option value="asian-east">Asian-East</option>
                        <option value="asian-south">Asian-South</option>
                        <option value="avante-garde">Avante-garde</option>
                        <option value="blues">Blues</option>
                        <option value="carribean">Caribbean</option>
                        <option value="comedy">Comedy</option>
                        <option value="country">Country</option>
                        <option value="electronic">Electronic</option>
                        <option value="folk">Folk</option>
                        <option value="hip-hop">Hip hop</option>
                        <option value="jazz">Jazz</option>
                        <option value="latin">Latin</option>
                        <option value="lounge">Lounge</option>
                        <option value="other">Other</option>
                        <option value="pop">Pop</option>
                        <option value="r&b">R&B</option>
                        <option value="r&b">Rock</option>
                        <option value="soul">Soul</option>
                    </select>
                    <span class="help-block">{{errorMessage 'category'}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="tags">Tags (optional)</label>
                <div class="controls">
                    <select name="tags" id="tags" class="form-control block" multiple="multiple"></select>
                </div>
            </div>

            <input type="submit" value="Submit" class="btn-lg btn-primary"/>
        </form>
    </div>

</template>




